.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;

  & .input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 2px;
    &:focus {
      border-color: $border-color-focus;
    }
    &:hover {
      border-color: $border-color;
    }
  }
  & .button {
    @include button()
  }
}
