@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "variables";
@import "mixins";
@import "header";
@import "toolbar";
@import "formula";
@import "table";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
}
